body {
  background-color: #EEE2DC;
}

.project .row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.project .row .col-lg-4 {
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  margin: 0;
}

.technologies .row .col-md-1 {
  height: 70px;
  width: 70px;
}